.font-pp {
  font: 400 1.6rem/2rem "Nunito", sans-serif;
}

.font-p {
  font: 400 2rem/2.8rem "Nunito", sans-serif;
}

.font-m {
  font: 700 3.6rem/4rem "Nunito", sans-serif;
}

.font-g {
  font: 700 4.8rem/4.8rem "Nunito", sans-serif;
}